.caixa1{
  width: 200px;
  height: 200px;
  color:white;
  font-weight: 700;
  background-color:red;

}

.caixa2{
  width: 200px;
  height: 200px;
  color:white;
  font-weight: 700;
  background-color:blue;
  position: absolute;
  top:0;
  z-index:1;
}

.caixa3{
  width: 200px;
  height: 200px;
  color:white;
  font-weight: 700;
  background-color:green;
}

#whatsapp{
  border: 0.4rem solid greenyellow;
  border-radius: 50%;
  position: fixed;
  bottom:0.5rem;
  right:0.5rem;
  cursor: pointer;
  

}